<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultTemp}">
<head>
    <title th:text="${title}">Item Menu</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card p-4" style="max-width: 400px; width: 100%;">
               <!-- Content for item menu goes here
                Will either need to make a list that can be intereacted with
                or will need to create a form similar to pokeItem where the 
                user will have to enter an item number to be added to their bag -->
            </div>
        </div>
    </div>
</body>
</html>
